.post-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .post-content {
    flex: 2;
    padding-right: 20px;
  }
  
  .post-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  